.gitignore
src/**
tsconfig.json
esbuild.mjs
dist/*.map
node_modules/@types/**
node_modules/typescript/**
node_modules/esbuild/**
node_modules/@esbuild/**
node_modules/@vscode/**
node_modules/openseadragon/**
node_modules/prettier/**
node_modules/undici-types/**
node_modules/**/*.md
node_modules/**/*.map
node_modules/**/test/**
node_modules/**/tests/**
dist/smoke-test.cjs
